 body {
 color: #1aa584;
  border: 5px dashed #00b6af;
  padding:10px;
  margin: 10px;
  font-family: 'trebuchet ms';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  font-variant: normal;
  background-image: url(bg.jpg);
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  position: static;
}

.hrup {
height: 30px;
border-style: solid;
border-color: #007260;
border-width: 5px 0 0 0;
border-radius: 25px;

}
.hrdown {
display: block;
content: "";
height: 30px;
margin-top: -31px;
border-style: solid;
border-color: #007260;
border-width:  0 0 5px 0;
border-radius: 25px;
}
head {
background-color: #e0ffef;
  
  }
ul {
  margin: 0;
  padding: 0;
  width: 100%;
  margin: auto;
  list-style-type: none;
  display: inline-block;
}
a {
  float: center;
  width: 210px;
  height: 32px;
  color: #ffffff;
  padding: 5px 8px;
  font-family: Arial;
  text-decoration: none;
  background-color: #00ffc7;
  border-right: 5px solid white; 
}
a:hover {
  background-color: #008467;
}
li {
 display: inline-block;
}

.main {
text-align: center;
  text-decoration: none;
  text-indent: 15px;
  text-transform: none;
  }

.maine {
text-align: center;
  text-decoration: none;
  text-indent: 15px;
  text-transform: none;
  }

 .news {
  background-color: #c6e8ffF;
  color: #000000;
  text-align: left;
 
}
.kbd {
border: 5px solid #00a8e1;
}
