  {
  background-color: #e0ffef;
  color: #1aa584;
  border: 5px dashed #00ffe0;
  padding: 10px;
  margin: 10px;
  font-family: 'trebuchet ms';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  font-variant: normal;
  text-align: center;
  text-decoration: none;
  text-indent: 15px;
  text-transform: none;
  background-image: url(img1.png);
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  position: static;
  cursor: default;
  }
